/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea
web/files
!web/files/exportExcel/.gitkeep
!web/files/dump/.gitkeep
!web/files/complectations/.gitkeep
!web/files/models/.gitkeep
!web/files/carFiles/.gitkeep
!web/exportPdf/invoices/.gitkeep
!web/files/temp/.gitkeep