{% extends '@App/layout.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="first-block">
                <div class="first-block-title">
                    <h4><b>Gesetzliche Anbieterkennung:</b></h4>
                </div>
                <div class="first-block-body">
                    <div class="block-body-color"><b>Firma: Carline S.C</b></div>
                    <div>Vertreten durch: Iwona Rezler-Witek und Eugen Maier</div>
                    <div>Anschrift: Malinowa 8, 42-622 Orzech, Polen</div>
                    <div>Umsatzsteuer-Identifikationsnummer: PL6452560338</div>
                    <div>Internet: www.carlineb2b.pl</div>
                    <div>E-Mail: info@carlineb2b.pl</div>
                    <div>Telefon : +48 515 873 694</div>
                    <div class="block-body-margin block-body-color"><b>Inhalte:</b></div>
                    <div>Trotz sorgfältiger inhaltlicher Kontrolle sind alle Angaben ohne Gewähr.</div>
                    <div class="block-body-margin block-body-color"><b>Copyright:</b></div>
                    <div>Die Inhalte dieser Website dürfen ohne explizite Genehmigung durch die Firma Carline nicht weiterverwendet, zu kommerziellen Zwecken verbreitet, kopiert, verändert oder auf anderen Websites veröffentlicht werden</div>
                </div>
            </div>
            <div class="second-block block-margin">
                <div class="second-block-title">
                    <h4><b>Rechtliche Hinweise zur Webseite:</b></h4>
                </div>
                <div class="second-block-body">
                    <div>Alle Texte, Bilder und weiter hier veröffentlichten Informationen unterliegen dem Urheberrecht des Anbieters, soweit nicht Urheberrechte Dritter bestehen. In jedem Fall ist eine Vervielfältigung, Verbreitung oder öffentliche Wiedergabe ausschließlich im Falle einer widerruflichen und nicht übertragbaren Zustimmung des Anbieters gestattet.</div>
                    <div class="block-body-margin">Für alle mittels Querverweis (Link) verbundenen Webinhalte übernimmt der Anbieter keine Verantwortung, da es sich hierbei nicht um eigene Inhalte handelt. Die verlinkten Seiten wurden auf rechtswidrige Inhalte überprüft, zum Zeitpunkt der Verlinkung waren solche nicht erkennbar. Verantwortlich für den Inhalt der verlinkten Seiten ist deren Betreiber. Der Anbieter hat hierzu keine allgemeine Überwachungs- und Prüfungspflicht. Bei Bekanntwerden einer Rechtsverletzung wird der entsprechende Link jedoch umgehend entfernt.</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app_stylesheets %}{% endblock %}
{% block app_javascripts %}{% endblock %}