{% extends '@Admin/layout.html.twig' %}

{% block title %}{% trans %}Import Excel{% endtrans %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="import-excel">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-success" name="import" type="submit" value="Import" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block admin_stylesheets %}{% endblock %}
{% block admin_javascripts %}{% endblock %}