<div class="modal fade" id="modal-for-pdf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog car-pdf-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header car-pdf-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="car-pdf-data">
                    <div class="car-pdf-body-text">Wählen Sie bite die Währung aus</div>
                    <div class="car-pdf-body-menu">
                        <div class="form-group col-md-12">
                            <select name="pdfLanguage" id="pdfLanguage" class="form-control">
                                <option value="pln">PLN</option>
                                <option value="eur">€</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer car-pdf-modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-success car-pdf-download" data-dismiss="modal">Druckansicht</button>
            </div>
        </div>
    </div>
</div>