{% extends '@App/layout.html.twig' %}

{% block title %}Info{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h3>Carline S.C</h3>
            <div class="first-block">
                <div class="first-block-title">
                    <h4 class="block-body-color"><b>Über uns</b></h4>
                </div>
                <div class="first-block-body">
                    Unsere Firma Carline hat ihren Sitz in Polen und hat sich auf den Verkauf von Dacia Neufahrzeugen spezialisiert. Wir geben Ihnen die Möglichkeit Fahrzeuge direkt vom polnischen Markt zu erwerben, ohne dabei auf Service und Vertrauen zu verzichten. Wir können Ihnen durch unsere langjährige Erfahrung im Fahrzeughandel die besten Preise, eine große Fahrzeugauswahl und kürzeste Lieferzeiten bieten.
                </div>
            </div>
            <div class="second-block">
                <div class="second-block-title">
                    <h4 class="block-body-color"><b>Kaufabwicklung</b></h4>
                </div>
                <div class="second-block-body">
                    Sie arbeiten bei uns ohne Risiko, da Sie die Fahrzeuge erst nach Erhalt bezahlen. Der Kaufpreis wird bei der Bestellung festgelegt und bleibt bis zur Auslieferung bzw. Bezahlung unverändert. Ist das Geld bei uns eingegangen, schicken wir Ihnen umgehend die Dokumente von den Fahrzeugen per Post zu.
                </div>
            </div>
            <div class="first-block">
                <div class="first-block-title">
                    <h4 class="block-body-color"><b>Unsere Preise</b></h4>
                </div>
                <div class="first-block-body">
                    Alle Preise werden mehrmals am Tag aktualisiert und sind inklusive Anlieferung zu Ihnen. Sie haben die Möglichkeit in polnischen Zloty oder in Euro zu bezahlen und erhalten eine Rechnung ohne ausgewiesene MwSt. (Netto). Falls Sie eine Rechnung mit ausgewiesener MwSt. benötigen, wird diese von unserem deutschen Geschäftspartner ausgestellt.
                    Die Mindestabnahme beträgt 2 Fahrzeuge.  Um die Preise der Fahrzeuge zu sehen registrieren Sie sich bitte oder melden sich bei uns wegen eines Testzugangs.
                    Bei Fragen können Sie uns gerne kontaktieren. Kontaktdaten finden Sie unter dem Punkt „Kontakt“.
                </div>
            </div>
            <div class="first-block">
                <div class="first-block-title">
                    <h4 class="block-body-color"><b>Bestellvorgang</b></h4>
                </div>
                <div class="first-block-body">
                    Registrieren Sie sich auf unserer Website und loggen sich ein. Anschließend können Sie die gewünschten Fahrzeuge in den Warenkorb legen, Ihre Bestellung ausdrucken und unterschrieben per E-Mail oder Fax uns zukommen lassen. Bitte geben Sie vorher an in welcher Währung Sie bezahlen möchten.
                    Alternativ können Sie uns auch die ID Nummern der Fahrzeuge und Ihre Kontaktdaten zukommen lassen, wir melden uns dann bei Ihnen.
                    Sobald Sie eine Bestätigung von uns erhalten haben ist der Bestellung erfolgreich. Bitte achten Sie darauf, dass Ihre Lieferadresse richtig ist und sie eine gültige Telefonnummer hinterlegt haben. Sie werden kurz vor der Lieferung informiert.
                    Der genaue Liefertermin wird Ihnen kurze Zeit später unter „Mein Konto“ angezeigt. Um einen schnellen Versand der Dokumente zu gewährleisten bitten wir um schnellstmögliche Zahlung nach der Anlieferung.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app_stylesheets %}{% endblock %}
{% block app_javascripts %}{% endblock %}