{% extends '@App/layout.html.twig' %}

{% block title %}AGB{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h3>Allgemeine Geschäftsbedingungen und Kundeninformationen</h3>
            <div class="agb-main">
                <div class="agb-body">
                    <div class="first-block">
                        <div class="first-block-title">
                            <h4 class="block-body-color"><b>I. Grundlegende Bestimmungen.</b></h4>
                        </div>
                        <div class="first-block-body">
                            <div>
                                1. Die nachstehenden Geschäftsbedingungen gelten für Verträge, die Sie mit uns als Verkäufer (Carline S.C) schließen. Soweit nicht anders vereinbart, wird der Einbeziehung gegebenenfalls von Ihnen verwendeter eigener Bedingungen widersprochen.
                            </div>
                        </div>
                    </div>
                    <div class="first-block">
                        <div class="first-block-title">
                            <h4 class="block-body-color"><b>II. Vertragsabschluss /Übertragung von Rechten und Pflichten des Käufers</b></h4>
                        </div>
                        <div class="first-block-body">
                            <div>
                                <div>1. Der Käufer ist an die Bestellung höchstens bis drei Wochen, bei Nutzfahrzeugen bis sechs Wochen gebunden. Diese Frist verkürzt sich auf 10 Tage (bei Nutzfahrzeugen auf 2 Wochen) bei Fahrzeugen, die beim Verkäufer vorhanden sind. Der Kaufvertrag ist abgeschlossen, wenn der Verkäufer die Annahme der Bestellung des näher bezeichneten Kaufgegenstandes innerhalb der jeweils genannten Fristen schriftlich bestätigt oder die Lieferung ausführt. Der Verkäufer ist jedoch verpflichtet, den Besteller unverzüglich zu unterrichten, wenn er die Bestellung nicht annimmt.</div>
                                <div>2. Übertragungen von Rechten und Pflichten des Käufers aus dem Kaufvertrag bedürfen einer schriftlichen Zustimmung des Verkäufers.</div>
                                <div>3. Bei den Neuwagen handelt es sich um EU-Neuwagen, was dem Käufer bereits vor Vertragsabschluss mitgeteilt worden ist. Die Ausstattung der EU-Neuwagen kann auch von der deutschen Ausführung abweichen.</div>
                                <div>4. Sobald der Kaufvertrag abgeschlossen ist, ist der Käufer an den Kauf gebunden, weswegen eine Reklamation ausgeschlossen ist.</div>
                            </div>
                        </div>
                    </div>
                    <div class="first-block">
                        <div class="first-block-title">
                            <h4 class="block-body-color"><b>III.  Preise und Zahlungsmodalitäten</b></h4>
                        </div>
                        <div class="first-block-body">
                            <div>
                                <div>1. Die in den jeweiligen Angeboten angeführten Preise sowie die Transportkosten stellen Gesamtpreise dar. Sie beinhalten alle Preisbestandteile einschließlich aller anfallenden Steuern.</div>
                                <div>2. Die anfallenden Zusatzarbeiten- oder Transportkosten sind im Kaufpreis enthalten. Sie sind im jeweiligen Angebot bzw. Kaufvertrag nicht aufgelistet.</div>
                                <div>3. Erfolgt die Lieferung in Länder außerhalb der Europäischen Union können von uns nicht zu vertretende weitere Kosten anfallen, wie z.B. Zölle, Steuern oder Geldübermittlungsgebühren (Überweisungs- oder Wechselkursgebühren der Kreditinstitute), die von Ihnen zu tragen sind.</div>                        4. Der Kaufpreis ist in zwei Währungen zu zahlen PLN und Euro, dieses muss der Käufer vor der Bestellung auswählen. Entstandene Kosten der Geldübermittlung (Überweisungs- oder Wechselkursgebühren der Kreditinstitute) sind von Ihnen in den Fällen zu tragen, in denen die Lieferung in einen EU-Mitgliedsstaat erfolgt, die Zahlung aber außerhalb der Europäischen Union veranlasst wurde.
                                <div>5. Die Ihnen zur Verfügung stehenden Zahlungsarten werden Ihnen beim Kauf angeboten im jeweiligen Kaufvertrag/Bestellung ausgewiesen.</div>
                                <div>6. Der Kaufpreis ist spätestens bei Übergabe des Kaufgegenstandes und- oder bei Aushändigung bzw. Versendung den Fahrzeugdokumenten fällig.</div>
                                <div>7. Die Ware bleibt bis zur vollständigen Zahlung des Kaufpreises unser Eigentum</div>
                                <div>8. Gegen Ansprüche des Verkäufers kann der Käufer nur dann aufrechnen, wenn die Gegenforderung des Käufers unbestritten ist oder ein rechtskräftiger Titel vorliegt; ein Zurückbehaltungsrecht kann er nur geltend machen, soweit es auf Ansprüchen aus dem Kaufvertrag beruht.</div>
                            </div>
                        </div>
                    </div>
                    <div class="first-block">
                        <div class="first-block-title">
                            <h4 class="block-body-color"><b>IV. Lieferung und Lieferverzug</b></h4>
                        </div>
                        <div class="first-block-body">
                            <div>
                                <div>1. Liefertermine und Lieferfristen, die verbindlich oder unverbindlich vereinbart werden können, sind schriftlich anzugeben. Lieferfristen beginnen mit Vertragsabschluss.</div>
                                <div>2. Der Käufer kann acht Wochen nach Überschreiten eines unverbindlichen Liefertermins oder einer unverbindlichen Lieferfrist den Verkäufer auffordern zu liefern. Diese Frist verkürzt sich auf 14 Tage  bei Fahrzeugen, die beim Verkäufer vorhanden sind. Mit dem Zugang der Aufforderung kommt der Verkäufer in Verzug.
                                    Hat der Käufer Anspruch auf Ersatz eines Verzugsschadens, beschränkt sich dieser bei leichter Fahrlässigkeit auf höchstens 5% des vereinbarten Kaufpreises.</div>
                                <div>3. Will der Käufer darüber hinaus vom Vertrag zurücktreten und/oder Schadensersatz statt der Leistung verlangen, muss er dem Verkäufer nach Ablauf der betreffenden Frist gemäß Ziffer 2, Satz 1 oder 2 dieses Abschnitts einer angemessenen Frist zur Lieferung setzen.</div>
                                Hat der Käufer Anspruch auf Schadensersatz statt der Leistung, beschränkt sich der Anspruch bei leichter Fahrlässigkeit auf höchstens 5% des vereinbarten Kaufpreises. Ist der Käufer eine juristische Person des öffentlichen Rechts, ein öffentlich-rechtliches Sondervermögen oder ein Unternehmer, der bei Abschluss des Vertrages in Ausübung einer gewerblichen oder selbständigen beruflichen Tätigkeit handelt, sind Schadensersatzansprüche statt der Leistung bei leichter Fahrlässigkeit ausgeschlossen.
                                Wird dem Verkäufer, während er im Verzug ist, die Lieferung durch Zufall unmöglich, so haftet er mit den vorstehend vereinbarten Haftungsbegrenzungen. Der Verkäufer haftet nicht, wenn der Schaden auch bei rechtzeitiger Lieferung eingetreten wäre.
                                <div>4. Wird ein verbindlicher Liefertermin oder eine verbindliche Lieferfrist überschritten, kommt der Verkäufer bereits mit Überschreiten des Liefertermins oder Lieferfrist in Verzug. Die Rechte des Käufers bestimmen sich dann nach Ziffer 2, Satz 4 und Ziffer 3 dieses Abschnitts.</div>
                                <div>5. Höhere Gewalt oder beim Verkäufer oder dessen Lieferanten eintretende Betriebsstörungen, die den Verkäufer ohne eigenes Verschulden vorübergehend daran hindern, den Kaufgegenstand zum vereinbarten Termin oder innerhalb der vereinbarten Frist zu liefern, verändern die in Ziffer 1 bis 4 dieses Abschnitts genannten Termine und Fristen um die Dauer der durch diese Umstände bedingten Leistungsstörungen. Führen entsprechende Störungen zu einem Leistungsaufschub von mehr als vier Monaten, kann der Käufer vom Vertrag zurücktreten. Andere Rücktrittsrechte bleiben davon unberührt.</div>
                                <div>6. Konstruktion oder Formänderungen, Abweichungen im Farbton sowie Änderungen des Lieferumfangs seitens des Herstellers bleiben während der Lieferzeit vorbehalten, sofern die Änderungen oder Abweichungen unter Berücksichtigung der Interessen des Verkäufers für den Käufer zumutbar sind. Sofern der Verkäufer oder Hersteller zur Bezeichnung der Bestellung oder des bestellten Kaufgegenstandes Zeichen oder Nummern gebraucht, können allein daraus keine Rechte hergeleitet werden.</div>
                            </div>
                        </div>
                    </div>
                    <div class="first-block">
                        <div class="first-block-title">
                            <h4 class="block-body-color"><b>V. Abnahme</b></h4>
                        </div>
                        <div class="first-block-body">
                            <div>
                                <div>1. Der Käufer ist verpflichtet, den Kaufgegenstand sofort bei der Bereitstellungsanzeige bzw. Lieferung abzunehmen und zu bezahlen.</div>
                                <div>2. Im Falle der Nichtabnahme kann der Verkäufer von seinen gesetzlichen Rechten Gebrauch machen. Verlangt der Verkäufer Schadensersatz, so beträgt dieser 10% des Kaufpreises und zusätzlich die Transport- und Lagerungskosten. Der Schadensersatz ist höher oder niedriger anzusetzen, wenn der Verkäufer einen höheren Schaden nachweist oder der Käufer nachweist, dass ein geringerer oder überhaupt kein Schaden entstanden ist.</div>
                            </div>
                        </div>
                    </div>
                    <div class="first-block">
                        <div class="first-block-title">
                            <h4 class="block-body-color"><b>VI. Eigentumsvorbehalt</b></h4>
                        </div>
                        <div class="first-block-body">
                            <div>
                                <div>1. Der Kaufgegenstand bleibt bis zum Ausgleich der dem Verkäufer aufgrund des Kaufvertrages zustehenden Forderungen Eigentum des Verkäufers.
                                Ist der Verkäufer eine juristische Person des öffentlichen Rechts, ein öffentlich-rechtliches Sondervermögen oder ein Unternehmer, der bei Abschluss des Vertrages in Ausübung seiner gewerblichen oder selbständigen beruflichen Tätigkeit handelt, bleibt der Eigentumsvorbehalt auch bestehen für Forderungen des Verkäufers gegen den Käufer aus der laufenden Geschäftsbeziehung bis zum Ausgleich von im Zusammenhang mit dem Kauf zustehenden Forderungen.</div>
                                <div>2. Bei Zahlungsverzug des Käufers kann der Verkäufer vom Kaufvertrag zurücktreten. Hat der Verkäufer darüber hinaus Anspruch auf Schadensersatz statt der Leistung und nimmt er den Kaufgegenstand wieder an sich, sind Verkäufer und Käufer sich darüber einig, dass der Verkäufer den gewöhnlichen Verkaufswert des Kaufgegenstandes im Zeitpunkt der Rücknahme vergütet auf Wunsch des Käufers, der nur unverzüglich nach Rücknahme des Kaufgegenstandes geäußert werden kann, wird nach Wahl des Käufers ein öffentlich bestellter und vereidigter Sachverständiger, den gewöhnlichen Verkaufswert ermitteln. Der Käufer trägt sämtliche Kosten der Rücknahme und Verwertung des Kaufgegenstandes. Die Verwertungskosten betragen ohne Nachweis 5% des gewöhnlichen Verkaufswertes. Sie sind höher oder niedriger anzusetzen, wenn der Verkäufer höhere Kosten nachweist oder der Käufer nachweist, dass geringere oder überhaupt keine Kosten entstanden sind.</div>
                                <div>3. Solange der Eigentumsvorbehalt besteht, darf der Käufer über den Kaufgegenstand weder Verfügen noch dritten vertraglich eine Nutzung einräumen.</div>
                            </div>
                        </div>
                    </div>
                    <div class="first-block">
                        <div class="first-block-title">
                            <h4 class="block-body-color"><b>VII. Sachmangel</b></h4>
                        </div>
                        <div class="first-block-body">
                            <div>
                                <div>1. Als Käufer werden Sie gebeten, das Fahrzeug bei Lieferung umgehend auf Vollständigkeit, offensichtliche Mängel und Transportschäden zu überprüfen und uns sowie dem Spediteur Beanstandungen schnellstmöglich mitzuteilen schriftlich zu bestätigen. Kommen Sie dem nicht nach, hat dies keine Auswirkung auf Ihre gesetzlichen Gewährleistungsansprüche oder Sachmängelhaftung. Spätere Reklamationen sind ausgeschlossen.</div>
                                <div>2. Ansprüche des Käufers wegen Sachmängeln verjähren entsprechend den gesetzlichen Bestimmungen in einem Jahr ab Ablieferung des Kaufgegenstandes.
                                Die in Satz 2 geregelte Verjährungsfrist von einem Jahr gilt nicht für Schadensersatzansprüche aus Sachmangelhaftung, zu denen u.a. Auch solche wegen Verletzung einer Nacherfüllungspflicht gehören. Für diese Ansprüche – wie für alle anderen Schadensersatzansprüche – gelten die gesetzlichen Verjährungsfristen sowie die Regelungen in Abschnitt VIII. Haftung.
                                Weitergehende Ansprüche bleiben unberührt, soweit der Verkäufer aufgrund Gesetz zwingend haftet oder etwas anderes vereinbart wird, insbesondere im Falle der Übernahme einer Garantie.</div>
                                <div>3.  Soll eine Mängelbeseitigung durchgeführt werden, gilt folgendes:</div>
                                <div>a) Ansprüche auf Mängelbeseitigung kann der Käufer beim Verkäufer oder bei anderen, vom Hersteller/Importeur für die Betreuung des Kaufgegenstandes anerkannten Betrieben geltend machen; im letzteren Fall hat der Käufer den Verkäufer hiervon   unverzüglich zu unterrichten, wenn die erste Mängelbeseitigung erfolglos war. Bei mündlichen Anzeigen von Ansprüchen ist dem Käufer eine schriftliche Bestätigung über   den Eingang der Anzeige auszuhändigen.</div>
                                <div>b) Wird der Kaufgegenstand wegen eines Sachmangels betriebsunfähig, hat sich der   Käufer an dem Ort des betriebsunfähigen Kaufgegenstandes nächstgelegenen, vom Hersteller/Importeur für die Betreuung des Kaufgegenstandes anerkannten    dienstbereiten Betrieb zu wenden.</div>
                                <div>c) Für die zur Mängelbeseitigung eingebauten Teile kann der Käufer bis zum Ablauf  der Verjährungsfrist des Kaufgegenstandes Sachmängelansprüche aufgrund des   Kaufvertrages geltend machen.</div>
                                <div>d) Ersetzte Teile werden Eigentum des Verkäufers.</div>
                            </div>
                        </div>
                    </div>
                    <div class="first-block">
                        <div class="first-block-title">
                            <h4 class="block-body-color"><b>VIII. Haftung</b></h4>
                        </div>
                        <div class="first-block-body">
                            <div>
                                <div>1. Hat der Verkäufer aufgrund der gesetzlichen Bestimmungen für einen Schaden aufzukommen, der leichtfahrlässig verursacht wurde, so haftet der Verkäufer beschränkt:
                                Die Haftung besteht nur bei Verletzung vertragswesentlicher Pflichten, etwa solcher, die der Kaufvertrag dem Verkäufer nach seinem Inhalt und Zweck gerade auferlegen will oder deren Erfüllung die ordnungsgemäße Durchführung des Kaufvertrages überhaupt erst ermöglicht und auf deren Einhaltung der Käufer regelmäßig vertraut und vertrauen darf. Diese Haftung ist auf den bei Vertragsabschluss vorhersehbaren typischen Schaden begrenzt. Soweit der Schaden durch eine vom Käufer für den betreffenden Schadenfall abgeschlossene Versicherung (ausgenommen Summenversicherung) gedeckt ist, haftet der Verkäufer nur für etwaige damit verbundene Nachteile des Käufers, z.B. Höhere Versicherungsprämien oder Zinsnachteile bis zur Schadenregulierung durch die Versicherung.
                                Ist der Verkäufer eine juristische Person des öffentlichen Rechts, ein öffentlich-rechtliches Sondervermögen oder ein Unternehmer, der bei Abschluss des Vertrages in Ausübung seiner gewerblichen oder selbständigen beruflichen Tätigkeit handelt, und werden nach Ablauf eines Jahres nach Ablieferung des Kaufgegenstandes Schadensersatzansprüche wegen Sachmängeln geltend gemacht, gilt Folgendes: Die vorstehende Haftungsbeschränkung gilt auch für einen Schaden, der grob fahrlässig verursacht wurde, nicht aber bei grob fahrlässiger Verursachung durch gesetzliche Vertreter oder leitende Angestellte des Verkäufers, ferner nicht für einen grob fahrlässig verursachten Schaden, der durch eine vom Käufer für den betreffenden Schadenfall abgeschlossene Versicherung gedeckt ist.</div>
                                <div>2. Unabhängig von einem Verschulden des Verkäufers bleibt eine etwaige Haftung des Verkäufers bei arglistigem Verschweigen eines Mangels, aus der Übernahme einer Garantie oder eines Beschaffungsrisikos und nach dem Produkthaftungsgesetz unberührt.</div>
                                <div>3. Die Haftung wegen Lieferverzuges ist in Abschnitt IV abschließend geregelt.</div>
                                <div>4. Ausgeschlossen ist die persönliche Haftung der gesetzlichen Vertreter, Erfüllungsgehilfen und Betriebsangehörigen des Verkäufers für von ihnen durch leichte Fahrlässigkeit verursachte Schäden. Für von ihnen mit Ausnahme der gesetzlichen Vertreter und leitenden Angestellten durch grobe Fahrlässigkeit verursachte Schäden gilt die diesbezüglich für den Verkäufer geregelte Haftungsbeschränkung entsprechend.</div>
                                <div>5. Die Haftungsbeschränkungen dieses Abschnitts gelten nicht bei Verletzung von Leben, Körper oder Gesundheit.</div>
                            </div>
                        </div>
                    </div>
                    <div class="first-block">
                        <div class="first-block-title">
                            <h4 class="block-body-color"><b>IX. Gerichtsstand</b></h4>
                        </div>
                        <div class="first-block-body">
                            <div>
                                <div>1. Für sämtliche gegenwärtigen und zukünftigen Ansprüche aus der Geschäftsverbindung mit Kaufleuten einschließlich Wechsel- und Scheckforderungen ist ausschließlicher Gerichtsstand der Sitz des Verkäufers.</div>
                                <div>2. Der gleiche Gerichtsstand gilt, wenn der Käufer keinen allgemeinen Gerichtsstand im Inland hat, nach Vertragsabschluss seinen Wohnsitz oder gewöhnlichen Aufenthaltsort aus dem Inland verlegt oder sein Wohnsitz oder gewöhnlicher Aufenthaltsort zum Zeitpunkt der Klageerhebung nicht bekannt ist. Im Übrigen gilt bei Ansprüchen des Verkäufers gegenüber dem Käufer dessen Wohnsitz als Gerichtsstand.</div>
                            </div>
                        </div>
                    </div>
                    <div class="first-block">
                        <div class="first-block-title">
                            <h4 class="block-body-color"><b>X. Kundeninformationen, Identität des Verkäufers</b></h4>
                        </div>
                        <div class="first-block-body">
                            <div>
                                <div>Firma: Carline S.C vertreten durch: Iwona Rezler-Witek und Eugen Maier</div>
                                <div>Anschrift: Malinowa 8, 42-622 Orzech, Polen</div>
                                <div>Umsatzsteuer-Identifikationsnummer: PL6452560338</div>
                                <div>E-Mail: Info@carlineb2b.pl</div>
                                <div class="agb-tel-margin">Telefon: +48515 873 694</div>
                                <div>Mobil: +491624086350</div>
                            </div>
                        </div>
                    </div>
                    <div class="first-block">
                        <div class="first-block-title">
                            <h4 class="block-body-color"><b>XI. Vertragssprache, Vertragstextspeicherung</b></h4>
                        </div>
                        <div class="first-block-body">
                            <div>
                                1. Vertragssprache ist deutsch.
                            </div>
                        </div>
                    </div>
                    <div class="first-block">
                        <div class="first-block-title">
                            <h4 class="block-body-color"><b>XII. Wesentliche Merkmale der Ware oder Dienstleistung.</b></h4>
                        </div>
                        <div class="first-block-body">
                            <div>
                                1. Die wesentlichen Merkmale der Ware und/oder Dienstleistung finden sich im jeweiligen Bestellung/Kaufvertrag.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app_stylesheets %}
    <link href="{{ asset('bundles/app/css/agb.css') }}" rel="stylesheet">
{% endblock %}
{% block app_javascripts %}{% endblock %}