{% extends '@Admin/layout.html.twig' %}

{% block title %}{% trans %}Create buyer{% endtrans %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div>
                <h2>{% trans %}Create buyer{% endtrans %}</h2>
            </div>
            <div>
                {%- include '@Admin/buyer_user/form.html.twig' -%}
            </div>
        </div>
    </div>
{% endblock %}